{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017-2018  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "content"}}
<div class="container">
    <div class="card p-4">
        <div class="row justify-content-md-center">
            <div class="col-10">
                <h4>Privacy Policy:</h4>
                <div>
                    {{with .SystemSettings.PrivacyMessage}}
                        {{printMarkdown .}}
                    {{else}}
                        <p>{{T "This instance of the SystemTestPortal currently has no privacy policy." .}}</p>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}


